
.commentBox{
  position: relative;
  left: 20;
  font-family: Arial;
  
}
.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
	position: relative;
  width: 40%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  border: none;
  border-bottom: 1px solid #373A36;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: gray;
  font-size: 12px;
}

.button {
  background-color: #2568FB;
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  font-size: 14px;
  margin: 4px 8px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  position:relative;
  left: 270px;
  width:100px;
}

.button:hover {
	opacity: 1
}

